.Login {
  background-color: #1E202F;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid rgb(255, 0, 255); */
  
}

.Login__Container1 {
  width: 1000px;
  height: 600px;
  background-color: #292A3E;
  border-color: #e70000;
  border-radius: 20px;
  display: flex;
  
  justify-content: space-between;
  
  

}

.Login__Container2{
  width: 35%;
  height: 600px;
  z-index: 5;
}

.Login__Container3 {
  width: 65%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-radius: 15px;
  z-index: 100;
}

.Login__img {
  width: 350px;
  height: 600px;
  z-index: 6;
}

.Login__input {
 width: 550px;
 height: 41px;
 
 border-radius: 10px;

}




.Login__botao {
  width: 558px;
  height: 41px;
  background-color: #8700C0;
  color: #fff;
  margin-top: 20px;
  border-radius: 10px;
}

.Login__Container3 h1 {
padding-right: 470px;
color: #fff;
}

.Login__Container3 a {
  padding-right: 480px;
  color: #fff;
  padding-top: 25px;
  }

  .Login__Container3 a1 {
    
    color: #fff;
    
  }

  .Login__conjunto {
    width: 100%;
    height: 50px;
    padding-left: 90px;
    color: #fff;
  }

  .Login__conjunto1 {
    width: 100%;
    height: 50px;
    padding-right: 100px;
    padding-block-end: 40px;
    color: #fff;
    text-align: right;
    

  }

 
  


